/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  margin-bottom: 60px; /* elevates visual elements from the footer */
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.section {
  width: 80%; /* Adjust to 80% of the parent/container's width */
  word-wrap: break-word; /* Break lines at word boundaries */
  overflow-wrap: break-word; /* For better browser support */
  padding: 20px; /* gap between text and container */
}

.align-right {
  width: 80%; /* Adjust to 80% of the parent/container's width */
  word-wrap: break-word; /* Break lines at word boundaries */
  overflow-wrap: break-word; /* For better browser support */
  padding: 20px; /* gap between text and container */
  margin-left: 40%;
}

.default-photo {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 20px 0;
}

.member-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.member {
  display: flex;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

